.about {
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 250px;
}

.about-header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}